/* normalrize / font / common css */
/* @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800'); */
/* @import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700'); */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,600,700,900');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900'); */
/* 
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', sans-serif;
font-family: 'Gothic A1', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* font-family: 'Open Sans', sans-serif; */



html, body{margin:0; padding:0; font-size:14px; color:#222; box-sizing:border-box; height:100%;}
div, ul, li, ol, dd, dt{margin:0; padding:0; box-sizing:border-box;list-style: none;}
table{margin:0; padding:0; border-collapse:collapse;}
th, td, p, h1, h3, h4, h5, h3{margin:0; padding:0;}
a{text-decoration: none; color:#fff;}
a:link {color:#fff;text-decoration: none;}/*기본색*/
/* a:visited {color:#aaa;text-decoration: none;}방문한 링크 */
a:active {color:#ffa800;text-decoration: none;}/*누르는 동안*/
.hand{cursor:pointer;}
.clear{clear:both;}
.clear:after{clear:both; content:""; display:block;}
.img{width:100%;}
.hover:hover{opacity:0.7;}
.hover_rev{opacity: 0.7;}
.hover_rev:hover{opacity: 1.0;}
.fl{float:left;}
.fr{float:right;}
.abs{position: absolute;}
.rel{position: relative;}
.fix{position: fixed;}