.wrap{max-width:1200px; margin:0 auto;}
.txt-blue{color:#4064b1;}

/******* image loader ********/
.loader{width:100%; height:100%; background-color:rgba(0,0,0,0.4); display:table; position: absolute;}
.loader > div{display:table-cell; text-align:center; vertical-align:middle; font-size:5rem; color:#fff; z-index:99999;}





/******HEADER*********/
header{background-color:#4064b1; font-size:12px;}
header > div{width:100%;}
header > div > ul > li{padding:1rem; border-right:1px solid#fff; color:#fff;}
header > div > ul > li > a:hover{font-weight: 600; color:#ffb900;}
.hd_lt{float:left;}
.hd_lt li{float:left;}

.hd_rt{float:right;}
.hd_rt li{float:right;}
.hd_rt li:first-child{border-right:0;}
.hd_rt li a .fa{font-size:1rem; padding:0 0.5rem;}

/***** TOPS *****/
.tops {width:100%; padding:40px 0; font-size:1rem;}
.logos {width:270px; float:left; padding-right:20px; padding-top:3px;}

.searchs {width:calc(100% - 560px); float:left;}
.searchs > li {border:1px solid #ccc; float:left; height:44px;}
.searchs > li:nth-child(1) {width:calc(100% - 210px); padding-top:4px;}
.searchs > li:nth-child(1) > input {border:none;}
.searchs > li:nth-child(1) > input:focus {outline:none;}
.searchs > li:nth-child(2) {width:166px; text-align:center; line-height:42px; margin-left:-1px; position:relative;}
ul.search_catelist {display:none; border:1px solid #ccc; position:absolute; 
	top:42px; right:-1px; min-width:166px; background-color:#fff; 
	box-shadow:0 2px 2px rgba(0,0,0,0.1);}
ul.search_catelist > li {padding:0.5em 0.5em 0.5em 1.5em; color:#999; line-height:1.5em; text-align:left;}
.searchs > li:nth-child(3) {width:44px; margin-left:-1px; text-align:center; line-height:42px; font-size:1.5em; color:#ccc;}

.logins {width:280px; float:right;}
.logins > li {float: right; line-height:42px; text-align:right; padding-left:10px; font-size:1.2em;}
.logins .fa {font-size:1.25em;}
.logins > :nth-child(2) {position: relative;}
.logins .w3-badge {padding:2px 4px; line-height:1em; font-size:0.75em; background-color:#ff0000;
position: absolute; top:0; right:-0.5em;}

/*****mains*****/
.mains{width:100%; border-top:1px solid #ccc; border-bottom:1px solid#ccc;height:52px; font-size:14px; }
.navs{position:relative;}
.navs > li:not(.menu_modal){float:left; height:50px; line-height:50px; }
.navs > li {float:left; height:50px; line-height:50px;}
.navs > .cate_top{width:270px; background-color:#4064b1; padding:0 1em; color:#fff; font-weight:500;}
.navs > .cate_top > :first-child{font-size:1.25em; margin-right:0.3em;}
.navs > .cate_top > :last-child{float:right;}
.navs > .menu{width:calc(100% - 540px);}
.navs > .menu > ul > li{float:left; margin-left:1.5em; position: relative; cursor: pointer;}
.navs > .menu > ul > li:nth-child(1), .navs > .menu > ul > li:nth-child(2){position: static !important;}
.navs > .menu > ul > li .arrow_down{color:#ccc; padding-left:0.2rem;}
.navs > .etc {width:270px; text-align:right;}
.navs > .etc > span{cursor: pointer;}
.navs > .etc > :nth-child(2) {padding:0 0.5em;}
.menu_modal{background-color:#fff; top:51px; left: 0; position:absolute !important; width:100%;display:none; padding:2em 0; border-bottom: 1px solid#999; z-index:11111;}
#modal0 > ul {width:20%; padding:2%; float:left; cursor: pointer;}
#modal0 > ul > :first-child{box-sizing: 0 1px 3px rgba(0,0,0,0.3); }
#modal0 > ul > :nth-child(2){margin-top:1em; text-align: center; color:#333; font-weight:400;}
#modal0 > ul > :nth-child(3){text-align: center; font-weight:400;}
#modal1 > ul {padding:2%; float:left;}
#modal1 > ul li{line-height:2.5em; position: relative;}
.tooltip {position:absolute; padding:0.1em 0.5em; opacity: 1; color:#fff; font-size: 0.5em;  top:-0.7rem;}
.tooltip > div{width:8px; height:8px; transform:rotate(45deg); position: absolute; left:20%; bottom:-4px;}
.title {padding-bottom : 0.5em;}
.title a{font-weight:540; color:#222;}
.title a:hover{color:#4064b1; font-weight:600;}
.cont a{color: #777; font-size:0.9em;}
.cont a:hover{color: #222; font-weight: 600;}
#modal2, #modal3, #modal4{width:800px;}
#modal2 > ul {float:left;}
#modal2 > ul .title, #modal2 > ul .cont{line-height:2.5em; position: relative;}
#modal2 .number{position:absolute;  opacity: 1; color:#777; font-size: 0.8em; left:33%; top:-0.7rem;}
.posts{border-bottom:1px solid#aaa;}
.posts:last-of-type{border-bottom:0;}
.right > div{font-size:0.8em;}
#modal3 > ul {padding:2%; float:left;}
#modal3 > ul li{line-height:2.5em; position: relative;}
#modal3 > ul li span{color:#777; font-size: 0.8em;}
#modal4 > ul {padding:2%; float:left;}
#modal4 > ul li{line-height:2.5em; position: relative;}
#modal4 > ul li span{color:#777; font-size: 0.8em;}


.banners {position:relative;}
.banners .cate {width:270px;  position: relative;}
.banners .banner {width:100%; position:absolute; top:0; left:30%; height:574.75px; overflow: hidden; padding: 5% 0 0 5%;  }
.banners .cate > li {padding:0.75em; font-size:1.25em; border:1px solid #ccc; border-top:0;}

.banners .cate > li > a {margin-left:1em; text-decoration:none; color:#555;}
.banners .cate > li > a:hover {color:#84b736;}
.banners .cate > li .fa-angle-right {color:#aaa; float:right; padding-top:0.2em;}


.banner > li {display:none;padding-top:5%;}
.banner .ban_img {position:absolute; width:70%; right:30%; top:20%; z-index:1;}
.banner .ban_tit {font-size:4em; color:#333; font-weight:bold; opacity:0; width:40%;}
.banner .ban_stit {font-size:1.5em; color:#666; opacity:0; width:40%;}
.banner .ban_cont {font-size:1.25em; color:#999; opacity:0; width:40%; margin-top:20px;}
.banner .ban_color {opacity:0; width:40%; margin-top:20px;}
.banner .ban_color > div {float:left;}
.banner .icon {width:30px; height:30px; border-radius:15px 4px 15px 15px; margin-left:15px;}
.banner .ban_price {font-size:3em; color:#4064b1; opacity:0; width:40%; margin-top:40px;}
.banners .rt_arrow {width:40px; height:50px; position: absolute; top:calc(50% - 25px); right:-10%; font-size:2em; line-height:50px; color:#000; text-align:center; cursor:pointer;}
.banners .rt_arrow:hover {font-size:3em;}
.cate_panel{position:absolute; border:1px solid #ccc; width:800px; left:269px; top:-1px; z-index:20; height:491px; background-color:#fff; display:none;}
.panel0{width:30%; float:left; padding:5%; font-size:1.25rem; margin-left:2%}
.panel0 > li{padding:5px 0; font-size: 1rem;}
.panel0 > li:hover{color:#4064b1;}
.panel_img img{width:100%;}
.panel0 > li:nth-child(1){width:100%;}
.panel0 > li:nth-child(2){font-weight: bold;}
.itembrand_panel {width:100%; position:absolute; bottom:0; background-color:#f1f1f1;}
.itembrand_panel > li {float:left; width:30%; text-align:center; padding:0.5% 5%; margin-left:2%;}
.ban_cont{z-index:111;}

.ban_ani {animation-name:ban-ani; animation-duration:0.5s; animation-fill-mode:forwards;}
.img_ani {animation-name:img-ani; animation-duration:0.5s; animation-fill-mode:forwards; animation-timing-function:ease-out;}
@keyframes ban-ani {
	0% {opacity:0; transform:translateY(100px);}
	100% {opacity:1; transform:translateY(0);}
}
@keyframes img-ani {
	0% {opacity: 0; right:-500px;}
	100% {opacity: 1; right:0;}}

/***** FEATURED *****/
.featured {margin-top:5rem; text-align:center; margin-bottom:200px;}
.featured > h5:nth-child(1) {color:#bbb;}
.featured > h5:nth-child(3) {color:#999;}
.featured > h3 {color:#333; padding:1rem 0; line-height:2rem;}
.featured_items {margin-top:4rem;}
.featured_lt {float:left; width:49%;}
.featured_rt {float:right; width:50%;}
.featured_item {box-shadow:2px 2px 3px rgba(0,0,0,.1); position: relative; text-align:left; overflow:hidden;}
.featured_rt .featured_item {margin:0 2% 2% 0; width:48%; height:265px; float:left;}
.featured_item > div {position:absolute; bottom:-2rem; left:1rem;}
.featured_item h3 {color:#333; padding:0.5rem;}
.featured_item h5 {color:#bbb; padding:0.5rem;}
.featured_item h4 {color:#fff; padding:0.5rem;}
.featured_item > img {animation-duration:0.5s; animation-fill-mode:forwards;}
@keyframes featuredAni {
	0% {transform: scale(1);}
	100% {transform: scale(1.3);}
}
@keyframes featuredAniBack {
	0% {transform: scale(1.3);}
	100% {transform: scale(1);}
}




